$light-grey: #484747;
$baby-blue: #52e1ff;
$light-orange: #ff613f;
$white: #fff;
$baby-blue-alpha-1: #c0edf9e8;
$grey-100: #b5bccd99;
//buttons
button[color="primary"] {
    color: $light-grey !important;
    background-color: $baby-blue !important;
}

button[color="secondary"] {
    color: $white !important;
    background-color: $light-orange !important;
}

// Table
tr.mat-mdc-header-row.mdc-data-table__header-row.cdk-header-row {
    background-color: $baby-blue-alpha-1 !important;
}

// form
mat-form-field mat-label {
    color: $grey-100;
}

.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
    background-color: transparent;
}
.mat-mdc-form-field-focus-overlay
{
    background-color: transparent!important;
}